main{
    height: 500px;
}
h2{
    text-align: center;
    color :  #6d085fd2;
    text-shadow:5px 5px 10px rgba(187, 176, 29, 0.911);
}
button{
    height:30px;
    width: 55px;
    border-radius: 8px;
    font-size: larger;
    background-color: #624f3f85;
    color: #6d085fd2;
    border:none;
    cursor: pointer;
}
button:hover{
    color: #624f3f85;
    background-color: #6d085fd2;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 9px 3px rgba(196, 18, 18, 0.911);
    
    border-radius: 5px;
    font-size: larger;
}
.active{
    /* color: #f2bc94;
    background-color: rgba(122, 43, 43, 0.911); */
    box-shadow: 0px 0px 9px 3px rgba(196, 18, 18, 0.911);
    border-radius: 5px; 
    
}
ul li{
    list-style: none;
    display: inline-block;
}
footer{
    text-align: center;
}
div{
    margin:30px;
}
i{
    font-style: normal;
}
#next,#previous{
    width:80px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align:center;
    padding: 8px;
}
tr:nth-child(even) {
    
    background-color: #624f3f85;
    color: #6d085fd2;
}
tr:nth-child(odd) {
    color: #624f3f85;
    background-color: #6d085fd2;
}
/* background-color: #521c15; 
background-color: #491f19;*/